
@import '@/styles/helpers';

.home {
    background-color: $blue;

    &__contents {
        padding: 10px;
        text-align: center;
        color: white;
        font-size: 20px;
    }

    &__directions {
        font-size: 20px;
        font-style: italic;
        font-weight: $weight-semibold;
        margin: 15px auto;
    }
}
